#study_mode{
    background-color:deepskyblue;
    border: 1px solid black;
    height: 30px;
}
#click_to_flip{
    background-color:deepskyblue;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    width: 120px;
    height: 60px;
    position: relative;
    border: 1px solid black;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    font: normal 100%/normal Arial, Helvetica, sans-serif;
    -o-text-overflow: clip;
    text-overflow: clip;
}
#term_to_answer{
    background-color:deepskyblue;
    border: 1px solid black;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    width: 120px;
    height: 60px;
    position: relative;
    border: 1px solid black;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    font: normal 100%/normal Arial, Helvetica, sans-serif;
    -o-text-overflow: clip;
    text-overflow: clip;
}
#right{
    background-color: lightgreen;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    width: 50px;
    height: 50px;
    position: relative;
    border: 1px solid black;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    font: normal 100%/normal Arial, Helvetica, sans-serif;
    -o-text-overflow: clip;
    text-overflow: clip;
}
#wrong{
    background-color: red;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    width: 50px;
    height: 50px;
    position: relative;
    border: 1px solid black;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    font: normal 100%/normal Arial, Helvetica, sans-serif;
    -o-text-overflow: clip;
    text-overflow: clip;
}
#info p{
    font-size: 20px;
}
#home{
    background-color: deepskyblue;
    height: 30px;
    border: 1px solid black;
    text-align: center;
    vertical-align: middle;
}
#profile{
    background-color: lightgray;
    height: 30px;
    border: 1px solid black;
    text-align: center;
}
#setting_icon img{
    width: 50px;
}
#picture{
    margin-top:40px;
    text-align: center;
}
#login_info{
    text-align:center;
    margin-top: 50px;
    font-weight: bold;
}
#home{
    background-color: deepskyblue;
    height: 30px;
    border: 1px solid black;
    text-align: center;
    vertical-align: middle;
}
#profile{
    background-color: lightgray;
    height: 30px;
    border: 1px solid black;
    text-align: center;
}
#setting_icon img{
    width: 50px;
}
#picture{
    margin-top:40px;
    text-align: center;
}
#login_info{
    text-align:center;
    margin-top: 50px;
    font-weight: bold;
}